In [1]:
s1="I am learning python"
s2="i am Learning java"
s3="virat kohali is a player"

corpus=[s1,s2,s3]

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
tv=TfidfVectorizer(lowercase=True,stop_words="english")
X=tv.fit_transform(corpus).toarray()

In [4]:
X

array([[0.        , 0.        , 0.60534851, 0.        , 0.79596054,
        0.        ],
       [0.79596054, 0.        , 0.60534851, 0.        , 0.        ,
        0.        ],
       [0.        , 0.57735027, 0.        , 0.57735027, 0.        ,
        0.57735027]])

In [7]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

In [8]:
cosine_similarity(X)

array([[1.        , 0.36644682, 0.        ],
       [0.36644682, 1.        , 0.        ],
       [0.        , 0.        , 1.        ]])

In [9]:
cosine_distances(X)

array([[0.        , 0.63355318, 1.        ],
       [0.63355318, 0.        , 1.        ],
       [1.        , 1.        , 0.        ]])

In [19]:
import pandas as pd

In [20]:
df=pd.read_csv("d:/dataset/recommend/movies_content.csv")
df

,movie_id,description,language,released,rating,writer,director,cast,genre,name
0,tt5286444,Neerja is the story of the courageous Neerja B...,"[ ""Hindi"" ]",2016-02-19T00:00:00.000Z,7.9,"[ ""Saiwyn Quadras"", ""Sanyukta Shaikh Chawla"" ]","[ ""Ram Madhvani"" ]","[ ""Sonam Kapoor"", ""Shabana Azmi"", ""Yogendra Ti...","[ ""Biography"", ""Drama"", ""Thriller"" ]",Neerja
1,tt4434004,A story that revolves around drug abuse in the...,"[ ""Hindi"", ""Panjabi"" ]",2016-06-17T00:00:00.000Z,7.9,"[ ""Sudip Sharma"", ""Abhishek Chaubey"" ]","[ ""Abhishek Chaubey"" ]","[ ""Alia Bhatt"", ""Shahid Kapoor"", ""Diljit Dosan...","[ ""Crime"", ""Drama"", ""Thriller"" ]",Udta Punjab
2,tt0248126,Yashvardhan Raichand lives a very wealthy life...,"[ ""Hindi"", ""English"", ""Urdu"" ]",2001-12-14T00:00:00.000Z,7.5,"[ ""Karan Johar"", ""Sheena Parikh"" ]","[ ""Karan Johar"" ]","[ ""Amitabh Bachchan"", ""Jaya Bhaduri"", ""Shah Ru...","[ ""Drama"", ""Musical"", ""Romance"" ]",Kabhi Khushi Kabhie Gham...
3,tt0347304,"Naina, an introverted, perpetually depressed g...","[ ""Hindi"", ""Urdu"", ""Gujarati"", ""Panjabi"" ]",2003-11-28T00:00:00.000Z,8.0,"[ ""Niranjan Iyengar"", ""Karan Johar"" ]","[ ""Nikkhil Advani"" ]","[ ""Shah Rukh Khan"", ""Preity Zinta"", ""Saif Ali ...","[ ""Comedy"", ""Drama"", ""Romance"" ]",Kal Ho Naa Ho
4,tt3043252,'Parched' is a story about women set in the he...,"[ ""Hindi"", ""English"" ]",2016-06-17T00:00:00.000Z,7.6,"[ ""Supratik Sen"", ""Leena Yadav"" ]","[ ""Leena Yadav"" ]","[ ""Tannishtha Chatterjee"", ""Radhika Apte"", ""Le...","[ ""Drama"" ]",Parched
...,...,...,...,...,...,...,...,...,...,...
2845,tt0308793,NaN,"[ ""Kannada"" ]",NaN,7.7,[],"[ ""V. Ravichandran"" ]","[ ""V. Ravichandran"", ""Kushboo"", ""Anant Nag"", ""...","[ ""Crime"" ]",Ranadheera
2846,tt3006508,NaN,"[ ""Kannada"" ]",2013-02-22,7.7,[],"[ ""Nagashekar"" ]","[ ""Chethan Kumar"", ""Nithya Menon"", ""Sarath Kum...","[ ""Romance"" ]",Myna
2847,tt5348692,The plot is simple. Ranganna (Rangayana Raghu)...,"[ ""Kannada"" ]",2013-11-29,7.7,"[ ""Pc Shekhar"" ]","[ ""Pc Shekhar"" ]","[ ""Rangayana Raghu"", ""Sadhu Kokila"", ""Avinash"" ]","[ ""Comedy"", ""Drama"" ]",Chaddi Dosth
2848,tt3171754,NaN,"[ ""Kannada"" ]",2013-12-27,7.6,[],"[ ""Manju Swaraj"" ]","[ ""Ganesh"", ""Amulya"", ""Anant Nag"", ""Tara"", ""Av...","[ ""Comedy"", ""Romance"" ]",Shravani Subramanya
2849,tt0231455,NaN,"[ ""Kannada"" ]",NaN,7.5,[],"[ ""S.R. Puttana Kanagal"" ]",[],[],Dharmasere

In [21]:
df2=df[['name','rating','description']]

In [22]:
df2

,name,rating,description
0,Neerja,7.9,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,7.9,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,7.5,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,8.0,"Naina, an introverted, perpetually depressed g..."
4,Parched,7.6,'Parched' is a story about women set in the he...
...,...,...,...
2845,Ranadheera,7.7,NaN
2846,Myna,7.7,NaN
2847,Chaddi Dosth,7.7,The plot is simple. Ranganna (Rangayana Raghu)...
2848,Shravani Subramanya,7.6,NaN
2849,Dharmasere,7.5,NaN

In [23]:
df2.dropna(inplace=True)

C:\Users\Aditya Sir\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [24]:
df2

,name,rating,description
0,Neerja,7.9,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,7.9,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,7.5,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,8.0,"Naina, an introverted, perpetually depressed g..."
4,Parched,7.6,'Parched' is a story about women set in the he...
...,...,...,...
2838,Run Antony,7.7,Antony is depressed and wants to commit suicid...
2841,Jolly Days,7.7,"A bubbly tale, the story is about four pairs o..."
2842,The Great Story of Sodabuddi,7.7,"The film tells the story of Sodabuddi, who spe..."
2844,Vamshi,7.7,"Vamshi, under the eye of his mother is living ..."
2847,Chaddi Dosth,7.7,The plot is simple. Ranganna (Rangayana Raghu)...

In [26]:
df2.reset_index(drop=True,inplace=True)

In [27]:
df2

,name,rating,description
0,Neerja,7.9,Neerja is the story of the courageous Neerja B...
1,Udta Punjab,7.9,A story that revolves around drug abuse in the...
2,Kabhi Khushi Kabhie Gham...,7.5,Yashvardhan Raichand lives a very wealthy life...
3,Kal Ho Naa Ho,8.0,"Naina, an introverted, perpetually depressed g..."
4,Parched,7.6,'Parched' is a story about women set in the he...
...,...,...,...
1747,Run Antony,7.7,Antony is depressed and wants to commit suicid...
1748,Jolly Days,7.7,"A bubbly tale, the story is about four pairs o..."
1749,The Great Story of Sodabuddi,7.7,"The film tells the story of Sodabuddi, who spe..."
1750,Vamshi,7.7,"Vamshi, under the eye of his mother is living ..."
1751,Chaddi Dosth,7.7,The plot is simple. Ranganna (Rangayana Raghu)...

In [29]:
tv=TfidfVectorizer(lowercase=True,stop_words='english')
X=tv.fit_transform(df2.description).toarray()

In [30]:
X.shape

(1752, 7702)

In [31]:
X[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [32]:
X[1]

array([0., 0., 0., ..., 0., 0., 0.])

In [34]:
from sklearn.neighbors import NearestNeighbors

In [37]:
model=NearestNeighbors(metric='cosine')#internally computes cosine distances
model.fit(X)

NearestNeighbors(metric='cosine')

In [39]:
#name="Udta Punjab"
distances,positions=model.kneighbors([X[1]],n_neighbors=4)

In [40]:
distances

array([[0.        , 0.86928008, 0.8720282 , 0.87464153]])

In [41]:
positions

array([[  1, 848, 861, 361]], dtype=int64)

In [42]:
X[1]

array([0., 0., 0., ..., 0., 0., 0.])

In [43]:
X[848]

array([0., 0., 0., ..., 0., 0., 0.])

In [49]:
df2.iloc[848].loc['name']

'Sikander'

In [50]:
df2.iloc[861].loc['name']

'Gelo'

In [51]:
df2.iloc[361].loc['name']

'Tiger'

In [64]:
mv_name="Neerja"
v=X[df2[df2.name==mv_name].index[0]]
distances,positions=model.kneighbors([v],n_neighbors=4)
for pos in positions[0]:
    print(df2.iloc[pos].loc['name'])

Neerja
Enakkul Oru Devathai
Khakee
Vedam

In [68]:
mv_name="Neerja"
v=X[df2[df2.name==mv_name].index[0]]
distances,positions=model.kneighbors([v],n_neighbors=6)
for pos in positions[0][1:]:
    print(df2.iloc[pos].loc['name'])

Enakkul Oru Devathai
Khakee
Vedam
Rikki-Tikki-Tavi
Aamir